:root, textarea {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

table, th, td {
  border-collapse: collapse;
}

body {
  font-size: 1.4rem;
}

button {
  cursor: pointer;
  transition: 0.4s all;
}

[contenteditable="true"]:empty:before {
  content: "본문의 내용을 입력해주세요";
}

[contenteditable="true"]:focus {
  outline: none;
}